@import "tailwindcss";

@theme {
  --color-background: 222.2 84% 4.9%;
  --color-foreground: 210 40% 98%;
}

:root {
  color-scheme: dark;
}

body {
  @apply bg-slate-950 text-slate-50 antialiased;
}
